.buying__section {
  display: flex;
  align-items: center;
  .form__block {
    p {
      color: #e9e2e2;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 2px solid #ffffff;
      border-radius: 5px;
      padding: 50px;
      button {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 20px;
        background-color: #222222;
        border: 1px solid #ffffff;
        cursor: pointer;
        padding: 20px;
        transition: 0.4s;
        &:hover {
          background-color: #f31e2e;
        }
      }
      legend {
        color: #8d8d8d;
        font-size: large;
      }
      input {
        font-size: 20px;
        outline: none;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #ffffff;
        width: 300px;
        height: 25px;
        background-color: #222222;
        color: #ffffff;
      }
    }
  }
}
