/*
header{
  background-color: #ffffff;
  
  .logo{
    a{

      color: #000000;
    }
  }
  nav{
    a{
      color: #000000;
    }
  }
}*/
#App {
  height: calc(100vh - 130px);
  background-color: #222222;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#left {
  margin-left: 10%;
  height: 90%;
  width: 35%;
  background-image: url(./img/photoLeft.png);
  background-size: 100% 100%;
  border: 2px black solid;
  filter: drop-shadow(7px 0px 20px rgba(0, 0, 0, 0.15));
}
#right {
  padding-left: 8%;
  width: 50%;
  height: 100%h;
  input {
    font-size: 20px;
    color: gray;
  }
}
.title {
  margin-top: 12%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: white;
}
.subTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #8d8d8d;
}
.logInput {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: white;
  margin-top: 25px;
  margin-bottom: 6px;
}
.loginForm {
  outline: none;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px gray solid;
  width: 340px;
  background-color: #222222;
}
.logInput:first-child {
  margin-top: 58px;
}
#createAccount {
  width: 300px;
  height: 40px;
  background: #000000;
  border-radius: 20px;
  margin-top: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
#createAccountGoogle {
  display: flex;
  background: inherit;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 1px black solid;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: white;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
button {
  cursor: pointer;
}
