footer {
  display: flex;
  justify-content: end;
  padding: 20px;

  nav {
    display: flex;
    ul {
      display: flex;
      gap: 20px;
      list-style-type: none;
      li {
        a {
          text-decoration: none;
          color: #ffffff;
          transition: 0.4s;
          &:hover {
            color: #f31e2e;
          }
        }
      }
    }
  }
}
