footer {
  display: flex;
  align-items: center;
  justify-content: end;
  nav {
    display: flex;
    flex-direction: row;
    li {
      display: flex;

      a {
        display: flex;
        color: white;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
          color: #f31e2e;
        }
      }
    }
  }
}
